#elmnt{
    margin-top: 20px;
    background-color: rgb(178, 244, 178);
    padding: 7px;
    border-radius: 3px;
    }
#d1{
width: 28%;

}
#d2{
    width: 25%;
}
#d3{
    width: 35%;
}
.elDiv{
    background-color: rgb(162, 228, 162);
    margin-top: 8px;
    height: 18px;
}

