.App {
  margin: 20px;
}

.App-header {
  background-color: rgb(193, 253, 193);
  width: 40%;
  border-radius: 3px;
 
}

button {
  margin-right: 20px;
  background-color: rgb(126, 254, 126);
  border-color: rgb(126, 254, 126);
  border-radius: 5px;
}
#srch{
  float: right;
}